
{% extends 'base.html' %}
{% block title %}Registrarse{% endblock %}

{% block content %}
<section class="page-container auth-container">
    <h1>Crear cuenta</h1>

    <form method="post" class="formulario">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
            <div class="campo-form">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}

        <button type="submit" class="btn-accion">Registrarme</button>
    </form>

    <p class="auth-alt">
        ¿Ya tenés cuenta?
        <a href="{% url 'login' %}">Ingresar</a>
    </p>
</section>
{% endblock %}
